<header><h1 class="display-4">Places</h1></header>
<%= link_to 'Add new location', new_locations_path %>


<div class="card">
  <div class="card-block">
    <ul>
      <%= render @places %>
    </ul>
  </div>
</div>